.hover-me {
  display: inline-block;
  padding: 1em;
  background-color: yellow;
  cursor: pointer;
}
.hover-me:hover {
  background-color: pink;
  outline: 3px solid red;
  border-radius: 1em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.transform-box {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  margin: 20px;
  transition: 0.5s;
}
.transform-box:hover {
  transform: rotate(360deg) scale(1.5);
  background-color: lightcoral;
}
